.area {
  display: flex;
  column-gap: $gutter;
}

.area__item {
  position: relative;

  @include calcWidth(3);
}

.area__image {
}

.area__overlay {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  height: 70px;
  width: 100%;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-secondary-color;

  background-color: rgba(47, 48, 58, 0.8);
}
