.checkbox {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  align-items: center;

  /* border: 1px solid transparent;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
   
  &:focus-within {
    border-color: var(--accent-color);
  } */

  @media screen and (min-width: $width-desktop) {
    padding-left: 12px;
  }
}

.checkbox__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $text-primary-color;

  @media screen and (min-width: $width-desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__input {
  position: absolute;
  left: 9px;
  top: 50%;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  /* appearance: none; */
  @media screen and (min-width: $width-desktop) {
    left: 21px;
  }
}

.checkbox__custom-input {
  border: 1.75px solid $title-primary-color;
  border-radius: 2px;
  margin-right: 8px;

  color: $background-primary-color;
  background-color: $background-primary-color;

  transition-property: border-color, color, background-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  outline: 2px solid transparent;
  cursor: pointer;

  .checkbox__input:focus + & {
    outline-color: #000000;
  }

  .checkbox__input:checked + & {
    background-color: $accent-color;
    border-color: transparent;
  }
}

.checkbox__mark {
  display: block;
  margin: -1.75px;
  fill: currentColor;
  stroke: currentColor;
}

.checkbox__link {
  color: $accent-color;
  text-decoration: underline;
}
