.clients__list {
  display: flex;
  gap: $gutter;
}

.clients__item {
  @include calcWidth(6);
  height: 90px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: $icon-primary-color;
  color: $icon-primary-color;
  border-radius: 4px;

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}
