.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $background-dark-color;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__social {
  margin-left: 70px;
}

.footer__title {
  display: block;
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $title-secondary-color;
}
