.footer {
  text-align: center;

  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $background-dark-color;
  @media screen and (min-width: $width-desktop) {
    text-align: left;
  }
}

.footer__container {
  @media screen and (min-width: $width-desktop) {
    display: flex;
    align-items: baseline;
  }
}

.footer__social {
  margin-top: 60px;

  @media screen and (min-width: $width-tablet) {
    margin-top: 0;
    // text-align: center;
    width: 50%;
  }

  @media screen and (min-width: $width-desktop) {
    margin-left: 70px;
    // text-align: left;
    width: auto;
  }
}

.footer__subscriptions {
  margin-top: 60px;

  @media screen and (min-width: $width-desktop) {
    margin-top: 0;
  }
}

.footer__title {
  display: block;
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $title-secondary-color;
}

.footer__sub-container {
  @media screen and (min-width: $width-tablet) {
    display: flex;
    // justify-content: space-around;
    align-items: baseline;
  }
}

.footer__footer-contacts {
  @media screen and (min-width: $width-tablet) {
    width: 50%;
  }

  @media screen and (min-width: $width-desktop) {
    width: auto;
  }
}
