.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 60px;
  padding-right: 10px;
}

.header__nav {
  @media screen and (min-width: $width-tablet) {
    display: flex;
    align-items: center;
  }
}

.header__site-nav {
  @media screen and (min-width: $width-tablet) {
    margin-left: 93px;
  }
}

.header__header-contact {
  @media screen and (min-width: $width-tablet) {
    margin-left: auto;
  }
}

.header__menu-button {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  justify-content: center;
  align-items: center;

  color: #000000;

  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: $width-tablet) {
    display: none;
  }
}
