.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  margin-inline: auto;
  text-align: center;

  background-color: $background-dark-color;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bg-mobile.jpg');
  // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //   url('../images/hero-background.jpg');
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-bg-mobile@2x.jpg');
  }

  @media screen and (min-width: $width-tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-bg-tablet.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-bg-tablet@2x.jpg');
    }
  }

  @media screen and (min-width: $width-desktop) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-bg-desktop.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-bg-desktop@2x.jpg');
    }
  }
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;

  color: $title-secondary-color;
  text-transform: uppercase;
}

.hero__button {
  margin-inline: auto;
}

@media screen and (min-width: $width-tablet) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: $width-desktop) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }

  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
