/*  Логотип */
.logo {
  font-family: $font-secondary;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: $logo-primary-color;
  // text-decoration: none;

  @media screen and (min-width: $width-desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__accent {
  color: $accent-color;
}

.logo--light {
  color: $logo-secondary-color;
}
