.page-menu {
  width: 100%;

  @media screen and (max-width: ($width-tablet - 1px)) {
    position: fixed;
    z-index: 1;

    visibility: hidden;
    opacity: 0;
    pointer-events: auto;

    top: 30px;
    transform: translate(50%, -50%) scale(0);
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: $background-primary-color;

    transition-property: opacity, visibility, transform;
    transition-duration: 300ms;
  }
  @media screen and (max-width: ($width-mobile - 1px)) {
    right: 30px;
  }
  @media screen and (min-width: $width-mobile) and (max-width: ($width-tablet - 1px)) {
    right: calc((100vw - #{$width-mobile}) / 2 + 30px);
  }
}

.page-menu--visible {
  @media screen and (max-width: ($width-tablet - 1px)) {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  @media screen and (max-width: ($width-mobile - 1px)) {
    transform: translate(30px, -30px) scale(1);
  }
  @media screen and (min-width: $width-mobile) and (max-width: ($width-tablet - 1px)) {
    transform: translate(calc((100vw - #{$width-mobile}) / 2 + 30px), -30px) scale(1);
  }
}

.page-menu__container {
  display: flex;

  @media screen and (max-width: ($width-tablet - 1px)) {
    position: relative;
    margin-left: auto;

    margin-right: auto;
    flex-direction: column;
    min-width: $width-min-allowable;
    max-width: $width-mobile;
    height: 100%;
    padding: 48px 40px;

    // background-color: $background-primary-color;
  }

  @media screen and (min-width: $width-tablet) {
    // position: static;
    align-items: center;
    width: 100%;
  }
}

.page-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;

  display: flex;
  width: 40px;
  height: 40px;
  padding: 0;
  justify-content: center;
  align-items: center;

  color: #000000;

  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: $width-tablet) {
    display: none;
  }
}
