.site-nav {
  @media screen and (max-width: ($width-tablet - 1px)) {
    flex-grow: 1;
  }
  @media screen and (min-width: $width-tablet) {
    display: flex;
    gap: 50px;
  }
}
//.site-nav__item {}
.site-nav__item:not(:first-child) {
  @media screen and (max-width: ($width-tablet - 1px)) {
    margin-top: 25px;
  }
}

.site-nav__link {
  font-weight: 500;

  letter-spacing: 0.02em;
  color: $title-primary-color;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (max-width: ($width-tablet - 1px)) {
    font-size: 40px;
    line-height: 1.18;
  }
  @media screen and (min-width: $width-tablet) {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav__link--current {
  color: $accent-color;
  @media screen and (min-width: $width-tablet) {
    &::after {
      content: '';

      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 4px;

      border-radius: 2px;
      background-color: $accent-color;

      animation: currentLinkAnimation 250ms $timing-function both;
    }
  }
}

@keyframes currentLinkAnimation {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
