$base-font-size: 18;

.social-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // gap: 20px;
  gap: calc(20em / $base-font-size);
  margin-top: 64px;

  font-weight: 500;
  font-size: #{$base-font-size}px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $accent-color;

  @media screen and (min-width: $width-tablet) {
    display: none;
  }

  @media screen and (min-width: $width-min-allowable) and (max-width: 440px) {
    font-size: calc((100vw - 80px) / 360 * $base-font-size);
  }
  @media screen and (max-width: ($width-min-allowable - 1)) {
    $font-size: ($width-min-allowable - 80px) / 360 * $base-font-size;
    font-size: $font-size;
  }
}

.social-text__item {
  position: relative;
}

.social-text__item:not(:last-child)::after {
  content: '';
  position: absolute;
  right: calc(-11em / $base-font-size);
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: calc(22em / $base-font-size);
  background-color: rgba(33, 33, 33, 0.2);
}

.social-text__link {
}
