.team {
  // @media screen and (min-width: $width-tablet) {
  display: flex;
  flex-wrap: wrap;
  gap: $gutter;
  // }
}

.team__item {
  @media screen and (max-width: ($width-tablet - 1px)) {
    width: 100%;
  }

  text-align: center;
  background-color: $background-primary-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: $width-tablet) {
    @include calcWidth(2);
  }

  @media screen and (min-width: $width-desktop) {
    @include calcWidth(4);
  }
}

.team__container {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 30px;
  padding-right: 30px;

  @media screen and (min-width: $width-desktop) {
    padding-bottom: 30px;
  }
}

.team__title,
.team__text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.team__title {
  font-weight: 500;

  color: $title-primary-color;
}

.team__text {
  margin-top: 10px;
}

.team__photo {
}
