body {
  min-width: $width-min-allowable;

  font-family: $font-primary;

  color: $text-primary-color;

  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}
