$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Raleway', sans-serif;

$width-min-allowable: 320px;
$width-mobile: 480px;
$width-tablet: 768px;
$width-desktop: 1200px;

$container-width: 1200px;
$gutter: 30px;

$accent-color: #2196f3;

$logo-primary-color: #000000;
$logo-secondary-color: #ffffff;

$title-primary-color: #212121;
$title-secondary-color: #ffffff;

$text-primary-color: #757575;
$text-secondary-color: rgb(255 255 255 / 0.6);

$background-primary-color: #ffffff;
$background-secondary-color: #f5f4fa;
$background-dark-color: #2f303a;

$icon-primary-color: #afb1b8;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//$duration: 250ms;
